<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <header>
      <h1>This is the home Page</h1>
      <a href="/login">Please Login</a>
    </header>

    <section>
      <a href="/login"></a>
    </section>

    <ol>
     {{#users}}
       <li><a href="/login/{{@index}}">
         {{username}}
       </a></li>
     {{/users}}
   </ol>


  </body>
</html>
